<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Create Product</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/createProvider" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Provider</a>
        </h3>
        <h2>Create Product</h2>
        <form action="/saveProvider">
            <div class="form-group">
                <label for="email">Provider Name:</label>
                <input type="text" class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label for="email">Product Name:</label>
                <input type="text" class="form-control" name="prodName" />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
</body>
</html>
